html, body {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	width: 1920px;
	height: 1080px;
}
#streamjar {
	width: 1920px;
	height: 1080px;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	border: 0;
}
#chat {
	position: absolute;
	bottom: 0;
	right: 0;
	display: block;
	width: 560px;
	height: 170px;
	overflow: hidden;
	z-index: 5 !important;
}
.chat-row {
	line-height: 21px;
	font-size: 19px;
}
.color-main-chat { color: #6699ff; }

.color-beam { color: #6699ff; }
.color-livecoding { color: #ffbb83; }
.color-hitbox { color: #66ff00; }
.color-twitch { color: #9900cc; }
.color-IRC, .color-irc { color: #219161; }

.color-1 { color: #999999; }
.color-2 { color: #99cccc; }
.color-3 { color: #d9e9eb; }
.color-4 { color: #cc6600; }
.color-5 { color: #eeddd0; }
.color-6 { color: #decef9; }
.color-7 { color: #c2c1de; }
.color-8 { color: #99ccff; }
.color-9 { color: #dcd697; }
.color-10 { color: #cc9933; }
.color-11 { color: #99cc99; }
.color-12 { color: #ccff33; }
.color-13 { color: #ccff99; }
.color-14 { color: #ffcc99; }
.color-15 { color: #4483ed; }
.color-16 { color: #ff99ff; }


