html, body, #frame {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	width: 1920px;
	height: 1080px;
}
#frame {
	background-image: url(frame.png);
	z-index: 10;
}

#streamjar {
	background-color: transparent;
	width: 1920px;
	height: 1080px;
	position: absolute;
	top: 0;
	left: 0;
	border: 0;
	z-index: -10;
}
#chat_wrapper {
	background: url(chat_bg.png) repeat;
	position: absolute;
	top: 908px;
	left: 1354px;
	display: block;
	width: 566px;
	height: 172px;
	border-radius: 8px 0 0;
	overflow: hidden;
	z-index: 5 !important;
}
#chat {
	margin: 3px;
}
#song,#mumble,#discord {
	width: 720px;
	position: absolute;
	top: 5px;
	left: 5px;
	height: 100px;
	display: none;
	z-index: 10;
	background-color: #678391;
	border: 3px solid black;
	box-shadow: 0 0 5px #aaa;
}

#mumble, #discord {
	left: 1385px;
	height: 50px;
	width: 500px;
}
#discord > div, #mumble > div, #mumble > img, #discord > img {
	float: left;
}
#discord p, #mumble p {
	font-size: 20px;
	padding-top: 10px;
	text-align: center;
	margin: 0 0 0 10px;
}
#discord p {
	position: inherit;
	width: 400px;
	left: 0;
}
#mumble #mumble-icon {
	width: 50px;
	height: 50px;
}
#discord #discord-icon {
	width: 75px;
	height: 75px;
}
#discord {
	background-color: #fff;
	height: 75px;
	border-color: #7289da;
}
#discord a, #discord a:visited, #discord a:default, #discord a:focus {
	color: #7289da;
}
#song .wrapper {
	float: left;
	overflow: hidden;
	width: 585px;
}
#song span.label {
	display: inline-block;
	width: 55px;
}
#song span, #song p {
	margin: 0 auto;
	float: left;
}
#song-art {
	width: 100px;
	height: 100px;
	margin-right: 15px;
}
#song-title {
	clear: left;
}
#song-title .text, #song-artist .text {
	font-size: 18px;
	margin: auto;
	text-shadow: 0 0 3px #fff;
}
.chat-row {
	line-height: 21px;
	font-size: 19px;
}
.color-main-chat { color: #6699ff; }

.color-beam { color: #6699ff; }
.color-livecoding { color: #ffbb83; }
.color-hitbox { color: #66ff00; }
.color-twitch { color: #9900cc; }
.color-discord { color: #cc8f4b; }
.color-IRC, .color-irc { color: #219161; }

.color-0 { color: #999999; }
.color-1 { color: #999999; }
.color-2 { color: #99cccc; }
.color-3 { color: #d9e9eb; }
.color-4 { color: #cc6600; }
.color-5 { color: #eeddd0; }
.color-6 { color: #decef9; }
.color-7 { color: #c2c1de; }
.color-8 { color: #99ccff; }
.color-9 { color: #dcd697; }
.color-10 { color: #cc9933; }
.color-11 { color: #99cc99; }
.color-12 { color: #ccff33; }
.color-13 { color: #ccff99; }
.color-14 { color: #ffcc99; }
.color-15 { color: #4483ed; }
.color-16 { color: #ff99ff; }


